<p></p><div class="mb-3 float-right">
  <div class="btn-group mr-2">
    <!--    <form class="form-inline my-2 my-lg-0 justify-content-center">-->
    <!--      <input name="searchTerm" #searchInput="ngModel" class="form-control mr-sm-2" ngModel-->
    <!--             (ngModelChange)="searchWorkout(searchInput.value)" type="search" placeholder="Search users...">-->
    <!--    </form>-->
    <button  type="button" class="btn btn-info" data-toggle="modal" data-target="#addMembershipModal" *ngIf="isAdminOrCoach">
      <i class="fa fa-plus"></i>New Membership
    </button>
  </div>
  <div class="btn-group">
    <button type="button" (click)="getMemberships(true)"  class="btn btn-info">
      <i *ngIf="refreshing" class="fas fa-sync fa-spin"></i><i *ngIf="!refreshing" class="fas fa-sync"></i>
    </button>
  </div>
</div>

<table class="table table-hover">
  <thead class="table-borderless">
  <tr class="text-center">
    <th>Id</th>
    <th>Membership name</th>
    <th>Membership description</th>
    <th>Membership type</th>
    <th>Membership price</th>
    <th>Validity period</th>
  </tr>
  </thead>
  <tbody *ngFor="let appMembership of memberships ">
  <tr class="text-center">
    <td (click)="onSelectMembership(appMembership)">{{appMembership?.id}}</td>
    <td (click)="onSelectMembership(appMembership)">{{appMembership?.name}}</td>
    <td (click)="onSelectMembership(appMembership)">{{appMembership?.description}}</td>
    <td (click)="onSelectMembership(appMembership)">{{appMembership?.type}}</td>
    <td (click)="onSelectMembership(appMembership)">{{appMembership?.price}}$</td>
    <td (click)="onSelectMembership(appMembership)">{{appMembership?.validityPeriodNumber}}{{appMembership?.validityUnitOfTime}}</td>
    <td class="">
      <div class="btn-group">
        <button class="btn btn-outline-info" (click)="onEditMembershipType(appMembership)"><i class="fas fa-edit"></i></button>
        <button [hidden]="!isAdmin" class="btn btn-outline-danger" (click)="onDeleteMembershipType(appMembership.id)"><i
          class="fas fa-trash"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<button [hidden]="true" type="button" id="openMembershipTypeInfo" data-toggle="modal" data-target="#viewMembershipTypeModal">
</button>
<button [hidden]="true" type="button" id="openMembershipTypeEdit" data-toggle="modal" data-target="#editMembershipTypeModal">
</button>


<div class="modal fade bd-example-modal-lg" id="viewMembershipTypeModal" tabindex="-1" role="dialog" aria-labelledby=""
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">{{selectedMembershipType?.name}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"></li>
              <li class="list-group-item"><b class=" float-right">Name</b>{{selectedMembershipType?.name}}
              </li>
              <li class="list-group-item"><b class=" float-right">Description</b>{{selectedMembershipType?.description}}
              </li>
              <li class="list-group-item"><b class=" float-right">Type</b>{{selectedMembershipType?.type}}
              </li>
              <li class="list-group-item"><b class=" float-right">Price</b>{{selectedMembershipType?.price}}
              </li>
              <li class="list-group-item"><b class=" float-right">Duration</b>{{selectedMembershipType?.validityPeriodNumber}} {{selectedMembershipType?.validityUnitOfTime}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- model add mambership -->
<div class="modal draggable fade bd-example-modal-lg" id="addMembershipModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">New Membership</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form #newMembershipForm="ngForm" (ngSubmit)="onAddNewMembershipType(newMembershipForm)" >
            <div class="form-group">
              <label for="name">Membership Name</label>
              <input type="text" name="name" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="description">Membership description</label>
              <input type="text" name="description" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="type">Membership type</label>
              <input type="text" name="type" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="price">Membership price</label>
              <input type="number" name="price" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="validityPeriodNumber">Membership duration</label>
              <input type="number" name="validityPeriodNumber" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="validityUnitOfTime">Membership duration</label>
              <select name="validityUnitOfTime" required ngModel class="form-control">
                <option value="DAY">DAY</option>
                <option value="MONTH">MONTH</option>
                <option value="YEAR">YEAR</option>
              </select>
            </div>
            <button type="submit" style="display: none;" id="new-membership-save"></button>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-membership-close">Close</button>
        <button type="button" (click)="saveNewMembership()" [disabled]="newMembershipForm.invalid" class="btn btn-primary">Save
          changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal draggable fade bd-example-modal-lg" id="editMembershipTypeModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Edit {{editMembershipType?.name}}<small [hidden]="isAdmin">
          (read only)
        </small></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <form #editMembershipTypeForm="ngForm">
            <div class="form-group">
              <label for="id">Membership Type id</label>
              <input type="text" name="id" [disabled]="true" required [(ngModel)]="editMembershipType.id" class="form-control">
            </div>

            <div class="form-group">
              <label for="name">Membership Type name</label>
              <input type="text" name="name" [disabled]="true" required [(ngModel)]="editMembershipType.name" class="form-control">
            </div>

            <div class="form-group">
              <label for="description">Membership Type description</label>
              <textarea name="description" [disabled]="!isAdminOrCoach" required [(ngModel)]="editMembershipType.description" class="form-control"></textarea>
            </div>

            <div class="form-group">
              <label for="price">Membership Type price</label>
              <input type="number" name="price" [disabled]="!isAdminOrCoach" required [(ngModel)]="editMembershipType.price" class="form-control">
            </div>

            <div class="form-group">
              <label for="type">Membership Type type</label>
              <input type="text" name="type" [disabled]="!isAdminOrCoach" required [(ngModel)]="editMembershipType.type" class="form-control">
            </div>

            <div class="form-group">
              <label for="validityPeriodNumber">Number of Months</label>
              <input type="number" name="validityPeriodNumber" [disabled]="!isAdminOrCoach" required [(ngModel)]="editMembershipType.validityPeriodNumber" class="form-control">
            </div>
            <div class="form-group">
              <label for="validityUnitOfTime">Number of Months</label>
              <input type="text" name="numberOfMonths" [disabled]="!isAdminOrCoach" required [(ngModel)]="editMembershipType.validityUnitOfTime" class="form-control">
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeEditMembershipTypeModalButton">Close</button>
        <button type="button" (click)="onUpdateMembershipType()" [disabled]="editMembershipTypeForm.invalid || !isAdminOrCoach" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
