<div class="today-container">
  <div class="date-navigation">
    <button (click)="goToPreviousDay()" class="btn btn-outline-primary">Previous</button>
    <div class="current-date">{{ currentDate | date: 'fullDate' }}</div>
    <button (click)="goToNextDay()" class="btn btn-outline-primary">Next</button>
  </div>

  <div class="today-workouts-grid">
    <div *ngFor="let hour of hours" class="time-slot">
      <div class="time-label">{{ hour }}:00</div>
      <div (click)="onSelectTrainerWorkout(workout)" *ngFor="let workout of todayWorkouts" [style.grid-row-start]="calculateGridRow(workout)" class="workout-slot">
        <div *ngIf="getHourFromDate(workout.workoutStartDate) === hour">
          <div>{{ workout.workoutName }}</div>
          <div>{{ workout.workoutStartDate | date: 'shortTime' }} - {{ workout.workoutEndDate | date: 'shortTime' }}</div>
          <div>{{ workout.roomNumber }} - {{workout.participantsNumber}} / {{workout.capacity}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="todayWorkouts.length === 0">
      <p>No workouts scheduled for this day.</p>
    </div>
  </div>
</div>

<!-- Workout Info Modal -->
<button [hidden]="true" data-target="#viewWorkoutModal" data-toggle="modal" id="open" type="button"></button>

<!-- modal user joined workout info -->
<div aria-hidden="true" aria-labelledby="" class="modal fade bd-example-modal-lg" id="viewWorkoutModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="viewTrainerWorkoutModalTitle">{{selectedWorkout.workoutName}}
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table [hidden]="!isAdminOrCoach" class="table table-hover">
          <thead class="table-borderless">
          <tr class="text-center">
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody *ngFor="let user of listOfUserJoinedWorkout">
          <tr class="text-center">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td class="">
              <div class="btn-group">
                <button (click)="addPoints(user)" class="btn btn-outline-info"><i class="fas fa-plus"></i></button>
                <button (click)="removePoints(user)" class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
              </div>
            </td>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
