

<div [ngClass]="{'grid-disabled': isGridDisabled}" class="week-container">

  <div class="date-navigation">
    <button (click)="goToPreviousWeek()" class="btn btn-outline-primary">Previous Week</button>
    <div class="current-date">{{ currentWeekStart | date: 'fullDate' }} - {{ currentWeekEnd | date: 'fullDate' }}</div>
    <button (click)="goToNextWeek()" class="btn btn-outline-primary">Next Week</button>
  </div>

  <div class="week-grid">
    <div class="day-header time-label"></div>
    <div *ngFor="let day of weekDays" [ngClass]="{'highlight-today': isToday(day.date)}" class="day-header">
      <strong>{{ day.date | date: 'EEEE' }}</strong>
      <div>{{ day.date | date: 'MMM d' }}</div>
    </div>


    <div *ngFor="let hour of hours" class="time-row">
      <div class="time-label">{{ hour }}:00</div>
      <div *ngFor="let day of weekDays" [ngClass]="{'highlight-today': isToday(day.date)}" class="workout-cell">
        <div (click)="onEmptyCellClick(day.date, hour)" *ngIf="getWorkoutsForDayAndHour(day.date, hour).length === 0">
          <!-- Empty cell, trigger the modal -->
          <div class="empty-cell"></div>
        </div>
        <div *ngFor="let workout of getWorkoutsForDayAndHour(day.date, hour)">
          <div
            (click)="onWorkoutClickToggle(workout)"
            [ngClass]="{'workout-slot': true, 'joined-workout': isUserInWorkout(workout)}">
            <div>{{ workout.workoutName }}</div>
            <div>{{ workout.roomNumber }} - {{ workout.participantsNumber }} / {{ workout.capacity }}</div>
            <div>{{ workout.workoutStartDate | date: 'shortTime' }} - {{ workout.workoutEndDate | date: 'shortTime' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


